---
import Layout from "../../layouts/Layout.astro";
import type { ContentType } from "../../content/config";
import { getAvailableContentTypes } from "../../utils";
import Feed from "../../components/Feed.astro";

export async function getStaticPaths() {
  return (await getAvailableContentTypes()).map(contentType => ({
    params: { type: contentType.path }, props: { contentType },
  }));
};

interface Props {
  contentType: ContentType;
}

const { contentType } = Astro.props;
---
<Layout>
  <h1>{contentType.plural}</h1>
<Feed contentType={contentType}/>
</Layout>
