---
import Layout from "../layouts/Layout.astro"
import Feed from "../components/Feed.astro"
---

<Layout>
	<div class="intro">
		<p>Hello. ✌🏻</p>
		<p>I like building software in a team of people.
			<br />I spend most of time doing this at <a href="https://www.wonderbly.com">Wonderbly</a>, where I am the CTO.
			<br />We help people to share their love for each other through unique and beautiful books.
			<br />I'm extremely proud of what we've created. We're <a href="https://wonderbly.jobs.personio.com/">usually hiring.</a></p>
		<p>This is my personal site where I keep notes and the odd longer form post.</p>
	</div>
	<Feed/>
</Layout>
