---
import type { CollectionEntry } from "astro:content";

import Layout from "../layouts/Layout.astro"
import Feed from "../components/Feed.astro"

import { getBlogEntry } from "../utils";

const homepageIntro = await getBlogEntry("homepage-intro");
const { Content } = await homepageIntro.render();
---
<Layout>
	<div class="intro">
		<Content />
	</div>
	<Feed />
</Layout>
