---
import { config } from "../config";
---
<style>
  img.u-photo {
    display:none;
  }
  .h-card .u-url::before {
    content: "\f2b9";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 3px;
  }
</style>
<span class="h-card">
  <img class="u-photo" src="/profile.png" alt={config.author+ "' profile image"}" loading="lazy"> 
  <a class="p-name u-url" href={config.url}>{config.author}</a>
</span>

