---
import type { CollectionEntry } from "astro:content";
import { config } from "../config";
import Author from "../components/author.astro";
import { getContentTypeById } from "../content/utils";

interface Props {
  collectionEntry: CollectionEntry<"blog">;  
}

const { collectionEntry } = Astro.props;
const contentType = getContentTypeById(collectionEntry.id);

const showContent = ['note', 'bookmark', 'like', 'repost', 'reply', 'rsvp', 'event', 'checkin'].includes(contentType);
const showSummary = !showContent && collectionEntry.data.summary;

const { Content } = await collectionEntry.render();
---
<article class="h-entry">
  <p class="content-type">
    <span class="p-kind">{contentType}</span>
  </p>

  {collectionEntry.data.title && (
    <h2 class="p-name">{collectionEntry.data.title}</h2>
  )}

  {showSummary && (
    <div class="p-summary">
      <p>{collectionEntry.data.summary}</p>
    </div>
  )}

  {showContent && (
    <div class="e-content">
      <Content />
    </div>
  )}
  <div class="post-meta">
    <a class="u-uid u-url" href={`/posts/${collectionEntry.slug}`}>LINK</a>
    by
    <Author />
  </div>
</div>
