---
import { getBlogEntries } from "../utils";
import type { ContentType } from "../content/config";

import Entry from "../components/Entry.astro"

interface Props {
  contentType?: ContentType;
}

const { contentType } = Astro.props;

const contentCollection = (await getBlogEntries(contentType)).sort((a, b) => {
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
---
<div class="h-feed">
  {contentCollection.map(collectionEntry => (
    <Entry feedMode={true} collectionEntry={collectionEntry} />
  ))}
</div>
