---
import { getBlogEntries } from "../content/utils";

import Entry from "../components/Entry.astro"
import { config } from "../config";

const contentCollection = (await getBlogEntries()).sort((a, b) => {
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
---
<div class="h-feed">
  {contentCollection.map(collectionEntry => (
    <Entry collectionEntry={collectionEntry} />
  ))}
</div>
