<nav class="nav-title">
  <a href="/" class="nav-link p-name u-uid u-url">
		<span class="p-given-name">Rob</span>&nbsp;<span class="p-family-name">Watts</span>
	</a>
</nav>

<style>
	.nav-title {
		font-size: 1.5rem;
		font-weight: 600;
		margin: 0;
		border-bottom: 1px solid;
	}
	.nav-link {
		color: #FFF;
	}
</style>
